app.fulcrumindia.online {
    reverse_proxy fulcrum:8501

    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-XSS-Protection "1; mode=block"
        Referrer-Policy strict-origin-when-cross-origin
    }
}
